<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="logic/mainPage.js" defer></script>
</head>
<body>
    <h1> Hello there! Enter the url. </h1>

    <form class="form_container">
        <input class="form_input" type="url">
        <input class="form_button" type="button" value="submit" >
    </form>

</body>
</html>